.Nda-verify{
    width: 100%;

    .heading{
        margin-left: 6rem;
    }

    .container{
        width: 90%;
        height: 80vh;
        margin: auto;
        overflow: auto;
        padding: 2rem;
        border-radius: 10px;
        font-family: var(--font-pr);
        background: linear-gradient(111.9deg, var(--accent-pr), var(--accent-sec));
       
        .sub-head{
            text-align: center;
            font-family: var(--font-pr);
            font-size: var(--heading-small);
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .startup-container{
            width: 95%;
            margin: auto;
            background-color: white;
            height: 64vh;
            border-radius: 10px;
            padding: 1rem;

            .head{
                 font-family: var(--font-pr);
                font-size: var(--button);
                font-weight: bold;
            }
        }
    }
}

.startup-card{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, var(--accent-pr), var(--accent-sec));
    border-radius: 10px;

    .sec{
        display: flex;
        align-items: center;
        
        .startup-name{
            font-size: var(--heading-small);
            margin-left: 2rem;
            font-weight: bold;
        }
    }

    .navlink{
        text-decoration: none;
             
    }
     .btn{
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            font-size: var(--button);
            // color: var(--accent-sec);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.123);
            cursor: pointer;
            transition: all 0.2s ease;

            img{
                margin-left: 1rem;
            }
        }
        .btn:hover{
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

        }

}
