.footer-container {
  background-color: var(--bg-sec);
  .footer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 5rem 0;
    margin: auto;
    font-family: var(--font-pr);

    .box {
      flex: 1;
      margin: 2rem;

      .head {
        font-size: var(--heading-med);
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #fff;
        width: fit-content;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        color: var(--text-pr);
      }

      p {
        color: var(--text-sec);
      }

      .para {
        color: var(--text-sec);
        margin-bottom: 2rem;
      }

      .icons {
        display: flex;
        list-style: none;

        li {
          margin-right: 2rem;
          opacity: 0.7;
          transition: all 0.2s ease-in;
        }
        li:hover {
          opacity: 1;
        }
      }
      .site-links {
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: var(--text-sec);
          }
          a:hover {
            color: var(--text-pr);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
