.header {
  color: white;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 3vmin;
    color: #71b939;
    text-decoration: none;
    text-shadow: 0 0 5px black;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;

    .navlink {
      font-size: 2vmin;
      cursor: pointer;
      padding: 2%;
      border-radius: 10px;
      text-decoration: none;
      color: #ffffffbb;
      transition: all 0.2s ease;
    }

    li {
    }

    .navlink:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: #ffff;
    }
  }

  .btns {
    width: 15%;
    display: flex;
    justify-content: space-around;

    .btn {
      border: none;
      font-size: 2.4vmin;
      padding: 1vmin 2vmin;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .btn:hover {
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.678);
    }

    .login-btn {
      background-color: #71b939;
      color: #ffffff;
      text-shadow: 0 0 5px black;
    }

    .signup-btn {
      color: black;
    }
  }
}

@media screen and (max-width: 414px) {
  .header {
    padding: 0 2%;

    .logo {
      font-size: 20px;
    }
  }
}
