.resources-section{
    width: 80%;
    margin: 2rem auto;
    color: var(--text-pr);
    font-family: var(--font-sec);

    .main-heading{
        text-align: center;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: var(--accent-sec);
        font-size: var(--heading-main);
        margin-bottom: 2rem;
    }

    .sub{
        font-size: var(--heading-med);
        color: var(--accent-sec);
        margin: 1rem 0;
    }

    .sec{
        .head{
            font-size: var(--heading-small);
            margin: 2rem 0;
        }
        
        p{
                color: var(--text-pr);
                font-family: var(--font-alt);
                font-size: var(--span);
                line-height: 30px;
                word-spacing: 0.1rem;
                letter-spacing: 0.1rem;
                margin: 1rem 0;
            }
        .comp{
            .subhead{
                color: var(--accent-sec);
                margin: 1rem 0;
            }
            
            ul{
                margin: 1rem;
                li{
                    color: var(--text-pr);
                    font-family: var(--font-alt);
                    font-weight: 600;
                    font-size: var(--span);
                    line-height: 30px;
                    word-spacing: 0.1rem;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
}