:root {
  --primary: #233142;
  --primary-altr: #222831;
  --primary-sec: #455d7a;
  --primary-sec-altr: #38414e;
  --secondary: #3eac3e;
  --secondary-altr: #fe9f29;
  --secondary-sec: #e3e3e3;
  --secondary-sec-altr: #97a2b2;
  --text-hover: #ffffff;
}
