.schemes-card{
    display: flex;
    flex-direction: column;
    font-family: var(--font-pr);
    position: relative;
    background-color: red;
    // width: 95%;
    margin: 1rem;
    min-width: 500px;
    max-width: 500px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: var(--comp-pr);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);

    .overlay{
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.493);
        color: var(--text-pr);
        width: 100%;
        padding: 0.5rem;
        border-radius: 10px 10px 0 0px;
    }

    .logo{
        width: 100%;
    }

    .details{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 0;
        font-size: var(--span);
        margin: 1rem;

        .comp{
            display: flex;

            .name{
                color: var(--text-pr);
            }
            .ans{
                margin-left: 10px;
                color: var(--accent-sec);
            }
        }
    }

    .buttons{
        display: flex;
        align-items: center;
        // justify-content: space-around;
        // background-color: red;
        margin: 1rem 0;
    
        .btn{
            padding: 0.5rem 1rem;
            font-size: var(--button);
            font-weight: bold;
            border: none;
            cursor: pointer;
            margin-right: 2rem;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.336);
        }

        .a{
            color: var(--accent-sec);
        }

        .b{
            color: var(--text-pr);
            background-color: var(--accent-sec);
        }
    }
}