.card {
  img {
    width: 80%;
  }

  .Job-name {
    background: linear-gradient(91.32deg, #85ea9d 35.95%, #5ab0cb 154.03%);
    background-clip: text;
    color: transparent;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    margin: 5% auto;
  }
}
