.Hackathon-page {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(../../assets/images/Hackathon.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .hackathon-page-container {
    margin: 0;
    padding: 3%;
    color: #fff;
    display: flex;

    .head-sec {
      display: flex;
      align-items: flex-start;

      .head {
        font-family: "Poppins", sans-serif;
        font-size: 7vmin;
        width: 70%;
      }
    }

    .sub-head-sec {
      display: flex;
      // align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      height: 80vh;
      width: 40%;
      padding: 4%;
      padding-bottom: 0;

      .sub-head {
        font-size: 3vmin;
        font-family: "Montserrat", sans-serif;
      }

      .hackathons {
        background: linear-gradient(93.53deg, #69ddad 19.6%, #409784 93.87%);
        width: 25%;
        font-size: 2.3vmin;
        text-shadow: 0 0 5px black;
        padding: 2%;
        border-radius: 2px;
        margin-top: 5%;
        color: #ffffff;
        border: none;
        cursor: pointer;
        // transition: all 1s ease;
      }

      .hackathons:hover {
        background-image: linear-gradient(
          90deg,
          #409784 0%,
          #69ddad 40%,
          #409784 80%
        );
        animation: slidebg 10s linear infinite;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .Hackathon-page {
    height: fit-content;
    .hackathon-page-container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .head-sec {
        width: 100%;
        align-items: center;
        justify-content: center;

        .head {
          font-size: 40px;
          width: 90%;
        }
      }

      .sub-head-sec {
        width: 100%;
        height: fit-content;
        padding: 2%;

        .sub-head {
          font-size: 20px;
          width: 100%;
        }

        .hackathons {
          font-size: 20px;
          width: 50%;
          margin: 10% 0;
        }
      }
    }
  }
}
