body {
  overflow-x: hidden;
  background-color: #fff;
}

.prototyping-page {
  height: 100vh;
  color: #000;
  background-color: #fff;
  width: 100%;
}

.prototyping-page .prototyping-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
}

.prototyping-page .prototyping-page-container .hero-details {
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 5%;
}

.prototyping-page .prototyping-page-container .hero-details .hero-heading {
  width: 90%;
  font-size: 7vmin;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbcc02e6), color-stop(29%, #ec8a00e6), color-stop(40%, #ed429ee6), color-stop(60%, #9d4ad5e6), color-stop(80%, #00cef9e6), to(#fbcc02e6));
  background-image: linear-gradient(90deg, #fbcc02e6 0%, #ec8a00e6 29%, #ed429ee6 40%, #9d4ad5e6 60%, #00cef9e6 80%, #fbcc02e6 100%);
  -webkit-animation: slidebg 13s linear infinite;
          animation: slidebg 13s linear infinite;
  font-family: "Poppins", sans-serif;
  background-clip: text;
  color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.prototyping-page .prototyping-page-container .hero-details .sub-head {
  font-size: 3vmin;
  margin-bottom: 1%;
  font-family: "Montserrat", sans-serif;
  color: #55585e;
  width: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prototyping-page .prototyping-page-container .hero-details span {
  font-size: 3.1vmin;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #55585e;
}

.prototyping-page .prototyping-page-container .hero-details .learn-more {
  width: 25%;
  font-size: 2.3vmin;
  text-shadow: 0 0 5px black;
  padding: 2%;
  border-radius: 2px;
  font-family: "Rubik", sans-serif;
  margin-top: 10%;
  background: linear-gradient(93.53deg, #fbd11b 19.6%, #f09d1a 93.87%);
  color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.prototyping-page .prototyping-page-container .hero-details .learn-more:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#f09d1a), color-stop(40%, #fbd11b), color-stop(80%, #f09d1a));
  background-image: linear-gradient(90deg, #f09d1a 0%, #fbd11b 40%, #f09d1a 80%);
  -webkit-animation: slidebg 13s linear infinite;
          animation: slidebg 13s linear infinite;
}

.prototyping-page .prototyping-page-container .hero-image {
  width: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prototyping-page .prototyping-page-container .hero-image .prototyping-image {
  width: 100%;
  position: relative;
  left: 10%;
  top: 40%;
}

@-webkit-keyframes slidebg {
  to {
    background-position: 140vw;
  }
}

@keyframes slidebg {
  to {
    background-position: 140vw;
  }
}
/*# sourceMappingURL=prototyping.css.map */