body {
  overflow-x: hidden;
  // background: #0f161e;
}
.resources-page {
  height: 100vh;
  color: #fff;
  background-color: #0f161e;
  width: 100%;

  .resources-page-container {
    display: flex;
    padding: 2%;

    .hero-details {
      width: 40%;
      // display: grid;
      // place-content: center;
      padding: 3%;

      .hero-heading {
        width: 90%;
        font-size: 7vmin;
        margin-bottom: 4%;
        user-select: none;
        font-family: "Poppins", sans-serif;
      }

      .sub-head {
        font-size: 3vmin;
        margin-bottom: 1%;
        font-family: "Montserrat", sans-serif;
        color: #b1b1b1;
        user-select: none;
      }

      .hackathons {
        width: 25%;
        font-size: 2.3vmin;
        text-shadow: 0 0 5px black;
        padding: 2%;
        border-radius: 2px;
        margin-top: 10%;
        background: linear-gradient(93.53deg, #1d78c4 19.6%, #9a7df1 93.87%);
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: all 1s ease;
      }
      .hackathons:hover {
        background-image: linear-gradient(
          90deg,
          #1d78c4 0%,
          #9a7df1 40%,
          #1d78c4 80%
        );
        animation: slidebg 10s linear infinite;
      }
    }

    .hero-image {
      width: 60%;
      pointer-events: none;
      user-select: none;

      .resources-image {
        width: 90vmin;
        height: 90vmin;
        object-fit: cover;
        position: relative;
        // left: 20%;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .resources-page {
    height: fit-content;

    .resources-page-container {
      flex-direction: column;
      margin: auto;

      .hero-details {
        width: 100%;
        text-align: center;
        padding: 0;

        .hero-heading {
          width: 90%;
          font-size: 50px;
          margin: 5% auto;
        }
        .sub-head {
          font-size: 20px;
          margin: 10% auto;
          width: 90%;
        }

        .hackathons {
          font-size: 20px;
          width: 50%;
          margin: 10%;
        }
      }

      .hero-image {
        width: 100%;

        .resources-image {
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
