
.startups {
  background: linear-gradient(
    93.11deg,
    var(--accent-sec) 10.85%,
    var(--accent-pr) 58.94%,
    var(--accent-sec) 80.15%
  );
  font-family: "Poppins", sans-serif;
  padding: 2rem 0;

  .heading {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
    user-select: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;

    .box {
      width: 250px;
      height: 250px;
      text-align: center;
      display: flex;
      flex-direction: column;
     
      .startup-icon{
        margin-bottom: 15px;
      }

      span{
        font-size: var(--span);
        font-family: var(--font-sec);
        font-weight: bold;
        color: var(--text-pr);
      }
    }
  }
}
