.dnNDA{
   .main-head {
       margin: 1rem 8rem;
    //    position: absolute;
    //    left: 20%;
       color: var(--text-pr);
       font-family: var(--font-pr);
   }
    .container{
        width: 90%;
        height: 80vh;
        margin: auto;
        margin-bottom: 2rem;
        position: relative;
        top: 50%;
        background: linear-gradient(111.9deg, var(--accent-pr) 26.31%, var(--accent-sec) 87.23%);
        border-radius: 10px;
        padding: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-pr);
        color: black;

        .form{
            input{
                margin-right: 1rem;
            }
            label{
                font-size: var(--button);
            }
        .other-detail{
            width: 100%;
            margin-top: 5rem;

            .subhead{
                font-size: var(--heading-small);
            }

            .startup-name{
                // background-color: red;
                padding: 2rem;
                background-color: var(--accent-sec);
                border-radius: 10px;

                input{
                    padding: 1rem;
                    font-size: var(--span);
                    // border-radius: 5px;
                    // background-color: var(--accent-pr);
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    margin-top: 1rem;
                    color: black;
                }
            }

            .agreement{
                margin: 1rem 0;
                padding: 2rem;
                font-size: var(--span);
                background-color: var(--accent-sec);
                border-radius: 10px;
                display: flex;
                align-items: center;

                .name{
                    margin-right: 2rem;
                }

                .download{
                    border: none;
                    cursor: pointer;
                    transition: all 0.1s ease;
                }

                .download:hover{
                    filter: brightness(90%);
                }
            }

            .action{
                    margin-top: 2rem;
                }
        }
        .next{
            position: absolute;
            right: 5%;
            bottom: 5%;
            padding: 0.5rem 1rem;
            font-size: var(--button);
            font-family: var(--font-pr);
            color: var(--text-pr);
            background-color: var(--comp-sec);
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.336);
            transition: all 0.2s ease;

            img{
                margin-left: 10px;
            }
        }

        .next:hover{
            background-color: var(--comp-pr);
            cursor: pointer;
        }
    }
}

}