.internship{
    .heading{
        margin: 2rem;
        text-align: center;
    }
    .container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}