.addform {
  width: 100%;
  height: 80vh;
  font-family: var(--font-pr);
  margin: 5% 0;
}

.addform .container {
  height: 100%;
  margin: 2%;
}

.addform .container .heading {
  margin: 1% 5%;
  color: var(--text-pr);
}

.addform .container .main-container {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
  background: linear-gradient(111.9deg, var(--accent-pr), var(--accent-sec));
  height: 90%;
  position: relative;
}

.addform .container .main-container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addform .container .main-container .details .main-head, .addform .container .main-container .details h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-pr);
  font-family: var(--font-pr);
}

.addform .container .main-container .details .leader-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 2% auto;
}

.addform .container .main-container .details .leader-details .l-sec {
  width: 40%;
}

.addform .container .main-container .details .leader-details .l-sec .details-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-pr);
  font-weight: normal;
  margin-bottom: 10px;
}

.addform .container .main-container .details .leader-details .l-sec .details-sec .head {
  margin-right: 20px;
}

.addform .container .main-container .details .leader-details .l-sec .details-sec .ans {
  font-weight: bold;
}

.addform .container .main-container .details .leader-details .column {
  width: 60%;
}

.addform .container .main-container .details .leader-details .column .head {
  margin-right: 20px;
}

.addform .container .main-container .details .leader-details .column .ans {
  font-weight: bold;
}

.addform .container .main-container .details .team {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.addform .container .main-container .details .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.addform .container .main-container form {
  width: 60%;
  font-size: 1rem;
}

.addform .container .main-container form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addform .container .main-container form .field .input {
  width: 75%;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.addform .container .main-container form .field .file {
  padding: 1rem;
}

.addform .container .main-container form .field .file::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--comp-sec);
  color: var(--text-pr);
  font-family: var(--font-sec);
  font-weight: bold;
  font-size: var(--span);
  cursor: pointer;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.137);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.137);
  border-radius: 10px;
}

.addform .container .main-container form .field .file::-webkit-file-upload-button:hover {
  background-color: var(--comp-pr);
}

.addform .container .main-container .verify,
.addform .container .main-container .nextpage {
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
  font-size: 0.8rem;
  width: 25%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat";
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.addform .container .main-container .verify img,
.addform .container .main-container .nextpage img {
  width: 25px;
}

.addform .container .main-container .verify {
  position: relative;
  left: 40%;
  margin: 5% 2%;
}

.addform .container .main-container .verify:hover {
  background-color: #fdff9f;
}

.addform .container .main-container .nextpage {
  width: 15%;
  float: right;
  position: absolute;
  bottom: -30px;
  right: 5%;
  background-color: #4d4d4d;
  color: var(--text-pr);
  padding: 1rem;
}

.addform .container .main-container .nextpage:hover {
  background-color: #383838;
}

.addform .container .main-container .prev {
  left: 5%;
}

.submit-container {
  width: 100%;
  height: 80vh;
  margin: 5% 0;
}

.submit-container .submit {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(111.9deg, var(--accent-pr), var(--accent-sec));
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-container .submit .btn {
  width: 15%;
}

.submit-container .submit .btn button {
  padding: 1rem 2rem;
  margin-top: 5%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat";
  outline: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background-color: #4d4d4d;
  color: var(--text-pr);
  padding: 1rem;
}

.submit-container .submit .btn button:hover {
  background-color: #383838;
}

.submit {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(111.9deg, var(--accent-pr), var(--accent-sec));
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit .btn {
  width: 15%;
}

.submit .btn button {
  padding: 1rem 2rem;
  margin-top: 5%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat";
  outline: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background-color: #4d4d4d;
  color: var(--text-pr);
  padding: 1rem;
}

.submit .btn button:hover {
  background-color: #383838;
}
/*# sourceMappingURL=form.css.map */