.otp_container {
  background-color: #2D2D2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.otp_container .img_container {
  padding: 3rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otp_container .img_container .otpimage {
  height: 80%;
}

.otp_container .main_container {
  background: linear-gradient(111.9deg, var(--accnt-pr), var(--accent-sec));
  width: 100%;
  border-radius: 0  10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otp_container .main_container .head {
  font-family: var(--font-pr);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 2rem;
  color: var(--text-pr);
}

.otp_container .main_container .form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(111.9deg, var(--accnt-pr), var(--accent-sec));
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 60%;
  height: 50%;
  padding: 2rem;
}

.otp_container .main_container .form_container .form_head {
  font-family: var(--font-sec);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0.5rem;
  color: var(--text-pr);
}

.otp_container .main_container .form_container input {
  height: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: transparent;
  border: none;
  width: 2rem;
  background: #4D4D4D;
  -webkit-box-shadow: 0px 4px 4px rgba(62, 37, 37, 0.25);
          box-shadow: 0px 4px 4px rgba(62, 37, 37, 0.25);
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.otp_container .main_container .form_container .para {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.otp_container .main_container .form_container .resend {
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
}

.otp_container .main_container .form_container .error {
  margin-top: 0.5rem;
  color: red;
  font-weight: bolder;
}

.otp_container .main_container .btn_div {
  margin-top: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 2rem;
}

.otp_container .main_container .btn_div .btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0.8rem;
  color: #FFB606;
}

.otp_container .main_container .btn_div .btn .arrow {
  height: 0.8rem;
  margin-left: 0.5rem;
}
/*# sourceMappingURL=Otp.css.map */