* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  font-family: "Open Sans", sans-serif;
  color: #97a2b2;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  color: white;
  margin: 4% 0;
  font-size: 4em;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #5c5abb;
  text-shadow: 0 0 5px #bc70c9;
}

p {
  font-size: 1.2em;
  margin: 1% 0;
}
