.dashboard {
  .Container {
    height: 90vh;
    width: 100%;
    display: flex;

    .side-bar {
      border-radius: 10px;
      background: var(--comp-pr);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      margin: 2rem;
      margin-right: 0;
      text-align: center;

      .student-img {
        border-radius: 100%;
        height: 175px;
        width: 175px;
      }

      .name {
        font-family: var(--font-pr);
        font-size: var(--heading-small);
        color: var(--accent-sec);
        margin: 1rem 0;
        width: 100%;
      }

      .student {
        font-size: var(--heading-small);
        font-family: var(--font-pr);
        color: var(--text-pr);
        margin: 0.5rem;
      }

      .log-out {
        border-radius: 10px;
        padding: 1rem 2rem;
        border: none;
        background-color: var(--comp-sec);
        font-family: var(--font-pr);
        font-size: var(--button);
        color: var(--text-pr);
        position: relative;
      }

      .log-out:hover{
        background-color: var(--comp-sec-hover);
      }
    }

    .content {
      border-radius: 10px;
      background-color: brown;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 5%;
      grid-row-gap: 2rem;
      grid-column-gap: 2rem;
      background-color: #1d1d1c;
      margin: 2rem;

      .reg {
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 2rem;
        transition: all 0.2s ease;
        font-family: "Montserrat", sans-serif;
        color: var(--text-color);

        h2 {
          margin-bottom: 3%;
          font-size: 1.6rem;
        }

       button{
           font-size: 5rem;
           color: var(--text-color);
           font-weight: bolder;
           font-family: 'Poppins';
           background-color: transparent;
           border: none;
       }
      }

      .reg:hover {
        background-color: var(--accent-sec);
      }
    }
  }
}
