.branch-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    width: 60%;
    height: 60%;
    background: linear-gradient(124.21deg, #fbd11b 28.71%, #ffb606 82.09%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pr);
    color: var(--text-pr);
    cursor: pointer;
    box-shadow: 0 4px 10px #000000ad;
    transition: all 0.2s ease;
  }

  .box:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px #000000ad;
  }

  .pdf-container{
    background: linear-gradient(124.21deg, #fbd11b 28.71%, #ffb606 82.09%);
    width: 80%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.242);

    .close {
      position: relative;
      font-size: 4rem;
      float: right;
      right: 1%;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.226);
      outline: none;
      background: none;
      border: none;
      transform: rotate(45deg);
      color: var(--text-pr);
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .close:hover {
      transform: rotate(135deg);
    }

    .heading{
      text-align: center;
      font-size: var(--heading-main);
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.226);
    }

    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .years{
        list-style: none;

        li{
          font-size: var(--heading-med);
          font-weight: bold;
          border-bottom: 5px solid black;
        }
      }

      .download{
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
    }

    .container{
      width: 95%;
      margin: 1rem auto;
      height: 65vh;

      iframe{
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432);
      }
    }
  }
}
